<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="../../assets/logo.png" alt="main-logo" height="40px">
      <a class="navbar-brand brand-name" routerLink="/"><span id="first-span">good</span><span id="second-span">Purchase</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link navbar-options" routerLink="/seller-auth" routerLinkActive="selected-option">Seller</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-options" routerLink="/login" routerLinkActive="selected-option">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-options" routerLink="/cart" routerLinkActive="selected-option">Cart</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for products" aria-label="Search">
          <button class="btn btn-success" type="button"><img src="../../assets/search.png" alt="search" height="20px"></button>
        </form>
      </div>
    </div>
  </nav>
