@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

nav{
    background-color: #212121;
    padding-block: 15px;
}
.brand-name{
    font-size: 32px;
    margin-right: 50px;
    #first-span{
        color: #388e3c;
        font-family: 'Vina Sans', cursive;
    }
    #second-span{
        color: #e0e0e0;
        font-family: 'Vina Sans', cursive;
    }
}
.navbar-options{
    font-size: 20px;
    color: #e0e0e0;
}
.selected-option{
    color: #388e3c;
}