<form id="sign-up">
    <mat-card>
        <div id="form-heading"><h1>Seller Registration</h1></div>
        <mat-form-field appearance="outline">
            <mat-label>Registered Seller Name</mat-label>
            <input matInput type="text">
            <mat-error>Seller name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email">
            <mat-error>Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contact</mat-label>
            <input matInput type="number">
            <mat-error>Contact is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>GST Number</mat-label>
            <input matInput type="text">
            <mat-error>GST number is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password">
            <mat-error>Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password">
            <mat-error>Confirmation password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent">Register</button>
    </mat-card>
</form>
