<form id="sign-up" (ngSubmit)="signUp()">
    <mat-card>
        <div id="form-heading">
            <img mat-card-image src="../../assets/seller.svg" alt="seller">
            <h2>Seller Registration</h2>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Registered Seller Name</mat-label>
            <input matInput type="text" name="sellerName">
            <mat-error>Seller name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email">
            <mat-error>Email is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>GST Number</mat-label>
            <input matInput type="text" name="gst">
            <mat-error>GST number is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password">
            <mat-error>Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" name="confrimPassword">
            <mat-error>Confirmation password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent">Register</button>
    </mat-card>
</form>
